﻿<div>
    <div class="form-group">
        <label for="selectUser">Default users</label>
        <select class="form-control" ng-model="user" id="selectUser" ng-options="user.displayName for user in defaultUsers"></select>
    </div>
    <hr />
    <div class="btn-group">
        <label class="btn btn-success" ng-model="user.platform" btn-radio="'hmof'" uncheckable>hmof</label>
        <label class="btn btn-success" ng-model="user.platform" btn-radio="'tc'" uncheckable>tc</label>
    </div>
    <div class="btn-group">
        <label class="btn btn-success" ng-model="user.name" btn-radio="'int'" uncheckable>int</label>
        <label class="btn btn-success" ng-model="user.name" btn-radio="'cert-review'" uncheckable>cert-review</label>
        <label class="btn btn-success" ng-model="user.name" btn-radio="'cert'" uncheckable>cert</label>
    </div>
    <div class="form-group">
        <label for="username">username</label>
        <input ng-model="user.username" type="text" class="form-control" id="username" placeholder="enter username">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">password</label>
        <input ng-model="user.password" type="text" class="form-control" id="password" placeholder="enter password">
    </div>

</div>