.label.label-block{
    display:inline-block;
    margin:1px;
    cursor: pointer;
    font-size: medium;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.right-button{
    float: right;
    margin-top: 20px;
    height: 60px;
}

.topMargin15{
    margin-top: 15px;
}

iframe {
    display: none;
}

.login-button{
    margin-top: 0;
}
