<div class="panel panel-default">
  <!-- Default panel contents -->
  	<div class="panel-heading">My Library</div>

  	<!-- List group -->
  	<ul class="list-group">
    	<li ng-repeat="level in tocData" class="list-group-item">
    		<a target="_blank" href="http://my-review-cert.hrw.com{{level.resources.resource[0].uri.relative_url}}">{{level.title}}</a>
    	</li>
  	</ul>
</div>