﻿<br />
<div class="col-lg-3">
    <login user="user"></login>
    <hr />
    <h4>Toc params</h4>
    <div class="form-group">
        <label for="exampleInputEmail1">program</label>
        <input ng-model="defaultTocSettings.program" type="text" class="form-control" id="program" placeholder="enter program">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">grade</label>
        <input ng-model="defaultTocSettings.grade" type="text" class="form-control" id="grade" placeholder="enter program">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">non grade level</label>
        <input ng-model="defaultTocSettings.non_grade_level" type="text" class="form-control" id="non_grade_level" placeholder="enter program">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">non grade title</label>
        <input ng-model="defaultTocSettings.non_grade_title" type="text" class="form-control" id="non_grade_title" placeholder="enter program">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">version</label>
        <input ng-model="defaultTocSettings.version" type="text" class="form-control" id="version" placeholder="enter program">
    </div>
    <button class="btn btn-primary" ng-show="!loading || error !== null" ng-click="getToc()">get toc</button>
    <button class="btn btn-warning" ng-show="tocData || loading || error" ng-click="clear()">clear</button>
    <button class="btn btn-default" ng-show="tocData" ng-click="saveToc()">Save toc</button>
</div>
<div class="col-lg-9">
    <i ng-show="loading" class="fa fa-spinner fa-3x fa-spin"></i>

    <div ng-if="error">
        <div class="alert alert-danger">
            There was an error downloading the toc, details: {{error}}
        </div>
    </div>

    <tabset justified="true" ng-if="tocData" ng-show="!loading">
        <tab heading="toc view">
            <toc-view toc-data="tocData" platform-url="user.resourceUrl" platform-url-tx="user.resourceUrlTc" />
        </tab>
        <tab heading="JSON">
            <div>
                <h4>TOC URL</h4>
                <p style="-ms-word-break: break-word; word-break: break-word;">{{tocUrl}}</p>
            </div>
            <div class="tab-pane active" id="json">
                <h4>JSON tree</h4>
                <json-formatter json="tocData" open="5" class=""></json-formatter>
            </div>
            <hr />
            <div>
                <h4>JSON text</h4>
                <textarea readonly ng-model="tocText" class="form-control" rows="5"></textarea>
            </div>
        </tab>
        <tab heading="toc compare">
            <div ng-if="tocCompareList && tocCompareList.length>0" class="container-fluid">
                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Environment</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="compareItem in tocCompareList">
                                <td>{{compareItem.date | date: 'mediumDate'}}</td>
                                <td>{{compareItem.environment}}</td>
                                <td>
                                    <button class="btn btn-primary" 
                                            ng-click="compareTocs(compareItem)">compare to current</button>
                                    <a class="btn btn-default" href="{{tocCompareUrl(compareItem)}}">compare view</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr />
                <div class="row">
                    <div ng-if="tocDataToCompare.length === 2">
                        <div class="col-lg-6">
                            <json-formatter json="tocDataToCompare[0]" open="5" class=""></json-formatter>
                        </div>
                        <div class="col-lg-6">
                            <json-formatter json="tocDataToCompare[1]" open="5" class=""></json-formatter>
                        </div>
                        <hr />
                        <toc-compare left="tocDataToCompare[0]" right="tocDataToCompare[1]"></toc-compare>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="toc validation">
            <div ng-if="tocValidationData">
                <json-formatter json="tocValidationData" open="1" class=""></json-formatter>
                <hr />
                <toc-resource toc-data="tocData" platform="user.platform" enviroment="user.name" />
            </div>
        </tab>
    </tabset>
</div>
