﻿<br />

<div class="col-lg-3">
    <div class="form-group">
        <select class="form-control" ng-model="user" ng-options="user.name for user in defaultUsers"></select>
    </div>
    <div class="btn-group">
        <label class="btn btn-success" ng-model="platform" btn-radio="'hmof'" uncheckable>hmof</label>
        <label class="btn btn-success" ng-model="platform" btn-radio="'tc'" uncheckable>tc</label>
    </div>
    <div class="form-group">
        <label for="usersText">Users text field</label>
        <i popover-trigger="mouseenter" class="fa fa-question-circle"
           popover="Format for one user must be username:password, if you want multiple users separate them with ; (ex. user1:pass1;user2:pass2)"></i>
        <textarea class="form-control" ng-model="usersText" placeholder="Enter users" id="usersText"></textarea>
    </div>

    <button class="btn btn-primary" ng-show="!loading || error !== null" ng-click="getData()">get data</button>
    <button class="btn btn-warning" ng-show="usersDataList || loading || error" ng-click="clear()">clear</button>
</div>
<div class="col-lg-9">
    <i ng-show="loading" class="fa fa-spinner fa-3x fa-spin"></i>

    <div ng-if="error">
        <div class="alert alert-danger">
            There was an error downloading data from services, details: {{error}}
        </div>
    </div>
    <div class="table-responsive" ng-if="usersDataList">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Roles</th>
                    <th>Number of sections</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{'danger': userData.error}" ng-repeat="userData in usersDataList">
                    <td>{{userData.username}}</td>
                    <td ng-if="!userData.error">{{userData.name}}</td>
                    <td ng-if="!userData.error">{{userData.roles}}</td>
                    <td ng-if="!userData.error">{{userData.sections.length}}</td>
                    <td colspan="3" ng-if="userData.error">Can't get data for this user</td>

                </tr>

            </tbody>
        </table>
    </div>
</div>