﻿
<div class="col-lg-3">
    <div class="form-group">
        <select class="form-control" ng-model="user" ng-options="user.name for user in defaultUsers"></select>
    </div>
    <div class="btn-group">
        <label class="btn btn-success" ng-model="platform" btn-radio="'hmof'" uncheckable>hmof</label>
        <label class="btn btn-success" ng-model="platform" btn-radio="'tc'" uncheckable>tc</label>
    </div>
    <div class="form-group">
        <label for="username">username</label>
        <input ng-model="user.username" type="text" class="form-control" id="username" placeholder="enter username">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">password</label>
        <input ng-model="user.password" type="text" class="form-control" id="password" placeholder="enter password">
    </div>
    <hr />
    <h4>Assingnment params</h4>
    <div class="form-group">
        <label for="sectionId">sectionId</label>
        <input ng-model="defaultAssignmentSettings.sectionId" type="text" class="form-control" id="sectionId" placeholder="enter sectionId">
    </div>

    <button class="btn btn-primary" ng-show="!loading || error !== null" ng-click="getAssignment()">get assignment</button>
    <button class="btn btn-warning" ng-show="assignmentData || loading || error" ng-click="clear()">clear</button>
</div>
<div class="col-lg-9">
    <i ng-show="loading" class="fa fa-spinner fa-3x fa-spin"></i>
    <div ng-if="error">
        <div class="alert alert-danger">
            There was an error downloading the toc, details: {{error}}
        </div>
    </div>

    <tabset justified="true" ng-if="assignmentData" ng-show="!loading">
        <tab heading="JSON">
            <div class="tab-pane active" id="json">
                <json-formatter json="assignmentData" open="1" class=""></json-formatter>
            </div>
        </tab>
        <tab heading="assignment validation">
            <div ng-if="assignmentValidationData">
                <json-formatter json="assignmentValidationData" open="1" class=""></json-formatter>
            </div>
        </tab>
    </tabset>
</div>