﻿<div class="toc-view">

    <div>
        <div class="units" ng-repeat="l1 in tocData.levels.level">
            <div class="unit" ng-repeat="unit in l1.level">
                <div>
                    <div class="module" ng-repeat="module in unit.level" ng-click="chooseModule(module, unit)">
                        <div class="info">
                            <span ng-if="module.hierarchy">{{module.type}} {{module.hierarchy}} : {{module.title}}</span>
                            <span ng-if="!module.hierarchy">{{module.title}}</span>
                        </div>
                        <i class="fa fa-angle-right fa-2x open-module-icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="popupState" id="module-popup">
        <div class="toc-popup-container">

            <div ng-if="popupContentState == 'lessons'">
                <i ng-click="closePopup()" class="module-popup-close fa fa-3x fa-angle-left"></i>
                <div class="toc-popup-content">
                    <div class="toc-popup-data">
                        <h3>
                            {{singleModule.type}} {{singleModule.hierarchy}} : {{singleModule.title}}
                        </h3>
                        <div style="float:right;margin:5px;">
                            <button style="margin-bottom:15px;" class="btn btn-default" ng-click="openUnitResourcePopup()">Unit resources</button>
                            <br />
                            <button class="btn btn-default" ng-click="openModuleResourcePopup()">Module resource</button>
                        </div>
                    </div>

                    <div class="toc-popup-list">
                        <div class="toc-popup-item" ng-repeat="lesson in singleModule.level">
                            <div class="lesson-icon"></div>
                            <div class="lesson-title">
                                <p>{{lesson.type}} {{lesson.hierarchy}}</p>
                                <p>{{lesson.title}}</p>
                            </div>
                            <div class="lesson-actions">
                                <a target="_blank" href="{{getDloUrl(lesson)}}"
                                   ng-show="getDloUrl(lesson)" class="btn btn-primary">Open DLO</a>
                                <!--<button popover-placement="left" popover="{{lesson}}" class="btn btn-primary">lesson data</button>-->
                                <button ng-click="openLessonsResourcePopup(lesson)" class="btn btn-default">resources</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div ng-if="popupContentState == 'lessonResource'">
                <i ng-click="closeLessonsResourcePopup()" class="module-popup-close fa fa-3x fa-angle-left"></i>
                <div class="toc-popup-content">

                    <div class="toc-popup-data">
                        <h3>{{singleLesson.type}} {{singleLesson.hierarchy}} : {{singleLesson.title}}</h3>
                    </div>

                    <div class="toc-popup-list">
                        <div class="form-group">
                            <input class="form-control" type="text" ng-model="singleLessonResourceFilter" />
                        </div>
                        <div class="toc-resource-item" ng-repeat="resource in singleLesson.resources.resource | filter:singleLessonResourceFilter">
                            <ul>
                                <li>id: {{resource.id}}</li>
                                <li>HMH ID: {{resource.HMH_ID}}</li>
                                <li>display title: {{resource.display_title}}</li>
                                <li>component type: {{resource.component_type}}</li>
                                <li>media type: {{resource.media_type}}</li>
                                <li>categorization: {{resource.categorization}}</li>

                                <li>tool type: {{resource.tool_type}}</li>
                                <li>assignable: {{resource.assignable}}</li>
                                <li>ISBN: {{resource.ISBN}}</li>
                                <li>relative url: {{resource.uri.relative_url}}</li>
                                <li>platform url: {{resource.uri.platform_url}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div ng-if="popupContentState == 'moduleResource'">
                <i ng-click="closeModuleResourcePopup()" class="module-popup-close fa fa-3x fa-angle-left"></i>
                <div class="toc-popup-content">
                    <div class="toc-popup-data">
                        <h3>{{singleModule.type}} {{singleModule.hierarchy}} : {{singleModule.title}}</h3>
                    </div>

                    <div class="toc-popup-list">
                        <div class="form-group">
                            <input class="form-control" type="text" ng-model="singleModuleResourceFilter" />
                        </div>
                        <div class="toc-resource-item" ng-repeat="resource in singleModule.resources.resource | filter:singleModuleResourceFilter">
                            <ul>
                                <li>id: {{resource.id}}</li>
                                <li>HMH ID: {{resource.HMH_ID}}</li>
                                <li>display title: {{resource.display_title}}</li>
                                <li>component type: {{resource.component_type}}</li>
                                <li>media type: {{resource.media_type}}</li>
                                <li>categorization: {{resource.categorization}}</li>
                                <li>download url: {{resource.download_url}}</li>
                                <li>tool type: {{resource.tool_type}}</li>
                                <li>assignable: {{resource.assignable}}</li>
                                <li>ISBN: {{resource.ISBN}}</li>
                                <li>relative url: {{resource.uri.relative_url}}</li>
                                <li>platform url: {{resource.uri.platform_url}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div ng-if="popupContentState == 'unitResource'">
                <i ng-click="closeUnitResourcePopup()" class="module-popup-close fa fa-3x fa-angle-left"></i>
                <div class="toc-popup-content">
                    <div class="toc-popup-data">
                        <h3>{{selectedUnit.type}} {{selectedUnit.hierarchy}} : {{selectedUnit.title}}</h3>
                    </div>
                    <div class="toc-popup-list">
                        <div class="form-group">
                            <input class="form-control" type="text" ng-model="singleUnitResourceFilter" />
                        </div>
                        <div class="toc-resource-item" ng-repeat="resource in selectedUnit.resources.resource | filter:singleUnitResourceFilter">
                            <ul>
                                <li>id: {{resource.id}}</li>
                                <li>HMH ID: {{resource.HMH_ID}}</li>
                                <li>display title: {{resource.display_title}}</li>
                                <li>component type: {{resource.component_type}}</li>
                                <li>media type: {{resource.media_type}}</li>
                                <li>categorization: {{resource.categorization}}</li>
                                <li>download url: {{resource.download_url}}</li>
                                <li>tool type: {{resource.tool_type}}</li>
                                <li>assignable: {{resource.assignable}}</li>
                                <li>ISBN: {{resource.ISBN}}</li>
                                <li>relative url: {{resource.uri.relative_url}}</li>
                                <li>platform url: {{resource.uri.platform_url}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>





</div>