﻿<div class="col-lg-offset-1 col-lg-4">
    <div class="form-group">
        <select class="form-control" ng-model="user" ng-options="user.displayName for user in defaultUsers"></select>
    </div>
    <!--<div class="btn-group">
        <label class="btn btn-success" ng-model="platform" btn-radio="'hmof'" uncheckable>hmof</label>
        <label class="btn btn-success" ng-model="platform" btn-radio="'tc'" uncheckable>tc</label>
    </div>-->
    <div class="form-group">
        <label for="username">username</label>
        <!--<input readonly ng-model="user.username" type="text" class="form-control" id="username" placeholder="enter username">-->
        <p>{{user.username}}</p>
    </div>

    <button class="btn btn-primary" ng-if="!checkServicesUsed" ng-click="checkServices()">check all services</button>
    <button class="btn btn-primary" ng-if="checkServicesUsed" ng-click="refresh()">clear</button>
    <br />
    <br />
    <br />

    <div class="alert alert-danger" ng-repeat="error in errors">
        <label>{{error}}</label>
    </div>
    <!--<json-formatter json="serviceList" open="0" class=""></json-formatter>-->
</div>
<div class="col-lg-6">
    <ul class="list-unstyled">
        <li ng-class="{'alert alert-info row': service.message === undefined, 'alert alert-warning row': service.message !== undefined && service.message !== '500: Internal server error' && service.message !== '503: Service Unavailable', 'alert alert-danger row': service.message === '500: Internal server error' || service.message === '503: Service Unavailable'}" ng-repeat="service in serviceList">
            <div class="col-md-4">
                <label>{{service.name}}</label>
            </div>
            <div class="col-md-4" ng-if="service.dataUrl">
                <label>State</label>
                <i ng-class="{'fa fa-spinner fa-spin': service.dataState === 'inProgres', 'fa fa-2x fa-question': service.dataState === 'untested', 'fa fa-2x fa-check': service.dataState === 'ok', 'fa fa-2x fa-warning': service.dataState === 'notOk'}"></i>
            </div>
            <div class="col-md-4">
                <p>{{service.message}}</p>
            </div>
        </li>
    </ul>
</div>
