﻿<div class="col-lg-8 col-lg-offset-2">
    <h3>
        program:{{tocParams.program || 'NA'}} / grade:{{tocParams.grade || 'NA'}} /
        level:{{tocParams.nonGradeLevel || 'NA'}} / title:{{tocParams.nonGradeTitle || 'NA'}}
    </h3>
    <h4 ng-if="tocParams.date">Environment: <b>{{tocParams.environment}}</b> / Date: {{tocParams.date | date: 'mediumDate'}}</h4>
    <tabset justified="true" ng-if="tocData" ng-show="!loading">
        <tab heading="toc view">
            <toc-view toc-data="tocData" platform-url="user.resourceUrl" platform-url-tx="user.resourceUrlTc" />
        </tab>
        <tab heading="JSON">
            <div class="tab-pane active" id="json">
                <h4>JSON tree</h4>
                <json-formatter json="tocData" open="5" class=""></json-formatter>
            </div>
            <hr />
            <div>
                <h4>JSON text</h4>
                <textarea readonly ng-model="tocText" class="form-control" rows="5"></textarea>
            </div>
        </tab>
        <tab heading="toc compare">
            <div ng-if="tocCompareList && tocCompareList.length>0" class="container-fluid">
                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Environment</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="compareItem in tocCompareList">
                                <td>{{compareItem.date | date: 'mediumDate'}}</td>
                                <td>{{compareItem.environment}}</td>
                                <td>
                                    <button class="btn btn-primary"
                                            ng-click="compareTocs(compareItem)">
                                        compare to current
                                    </button>
                                    <a class="btn btn-default" href="{{tocCompareUrl(compareItem)}}">compare view</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr />
                <div class="row">
                    <div ng-if="tocDataToCompare.length === 2">
                        <div class="col-lg-6">
                            <json-formatter json="tocDataToCompare[0]" open="5" class=""></json-formatter>
                        </div>
                        <div class="col-lg-6">
                            <json-formatter json="tocDataToCompare[1]" open="5" class=""></json-formatter>
                        </div>
                        <hr />
                        <toc-compare left="tocDataToCompare[0]" right="tocDataToCompare[1]"></toc-compare>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="toc validation">
            <!--<div>
                <h4>Validate standards</h4>
                <div class="btn btn-primary btn-upload"
                     upload-button
                     data="standardsUploadData"
                     url="/checkTocManifestStandards"
                     on-success="onSuccess(response)">
                    Upload
                </div>
            </div>-->

            <div ng-if="tocData">
                <toc-resource toc-data="tocData" platform="tocParams.platform" enviroment="tocParams.environment" />
            </div>
        </tab>
    </tabset>
</div>