﻿<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width">
    <!--<link href="styles/bowerbundle.css" rel="stylesheet" />-->
    <!-- build:css styles/bower.css-->

    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="bower_components/json-formatter/lib/json-formatter.css" rel="stylesheet" />
    <link href="bower_components/jsondiffpatch/src/formatters/annotated.css" rel="stylesheet" />
    <link href="bower_components/jsondiffpatch/src/formatters/html.css" rel="stylesheet" />
    <link href="bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet" />
    <link href="bower_components/font-awsome/css/font-awesome.css" rel="stylesheet" />
    <link href="bower_components/angular-toastr/dist/angular-toastr.css" rel="stylesheet" />
    <!-- endbuild -->
    
    <!-- build:css styles/main.css-->

    <link href="styles/flatly.css" rel="stylesheet" />
    <link href="styles/main.css" rel="stylesheet" />
    <link href="styles/tocViewDirective.css" rel="stylesheet" />
    <!-- endbuild -->
</head>
<body ng-app="endPointValidatorUiApp">
    <div id="wrapper" ng-controller="baseCtrl">
        <!-- Navigation -->
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">End to End Tester</a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Engineer links<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Check all services</a></li>
                            <li class="divider"></li>
                            <li><a href="#/tocvalidate">TOC</a></li>
                            <li><a href="#/assignmentvalidate">Assignments</a></li>
                            <li><a href="#/userdata">User data</a></li>
                            <li><a href="#/multiusercheck">Multi user check</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Generate TOC From:</li>
                            <li><a href="#/generateToc">Excell</a></li>
                            <li><a href="#/generateToc?type=xml">XML</a></li>
                            <li><a href="#/myLibrary">MyLibrary</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Q/A links<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Check all services</a></li>
                            <li class="divider"></li>
                            <li><a href="#/tocvalidate">TOC</a></li>
                            <li><a href="#/userdata">User data</a></li>
                            <li><a href="#/multiusercheck">Multi user check</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Generate TOC From:</li>
                            <li><a href="#/generateToc">Excell</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">LA links<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Generate TOC From:</li>
                            <li><a href="#/generateToc">Excell</a></li>
                            <li><a href="#/generateToc?type=xml">XML</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--<button ng-click="startSpin()">Start spinner</button>
        <button ng-click="stopSpin()">Stop spinner</button>-->
        <div id="page-wrapper" class="container-fluid" >
            <span us-spinner="loadingOptions" spinner-key="spinner-1"></span>
            <div ng-view></div>
        </div>
    </div>


    <!--<script src="scripts/lib/sb-admin-2/bowerbundle.js"></script>-->
    <!-- build:js scripts/bower.js -->
    <script src="./bower_components/jquery/dist/jquery.js"></script>
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/json3/lib/json3.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/json-formatter/lib/json-formatter.js"></script>
    <script src="./bower_components/angular-route/angular-route.js"></script>
    <script src="./bower_components/angular-resource/angular-resource.js"></script>
    <script src="./bower_components/angular-toastr/dist/angular-toastr.js"></script>
    <script src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="./bower_components/jsondiffpatch/build/bundle-full.js"></script>
    <script src="./bower_components/jsondiffpatch/build/formatters.js"></script>
    <script src="./bower_components/angular-xeditable/dist/js/xeditable.min.js"></script>
    <script src="./bower_components/spin.js/spin.js"></script>
    <script src="./bower_components/angular-spinner/angular-spinner.js"></script>
    <script src="./bower_components/angular-upload/angular-upload.js"></script>

    <!-- endbuild -->

    <!-- build:js scripts/app.js -->
    <script src="./scripts/app.js"></script>
    <script src="./scripts/directives/tocView/tocView.js"></script>
    <script src="./scripts/directives/tocCompare/tocCompare.js"></script>
    <script src="./scripts/services/apiServices.js"></script>
    <script src="./scripts/directives/tocResourceCheck/tocResourceCheck.js"></script>
    <script src="./scripts/directives/login/login.js"></script>
    <script src="./scripts/directives/qAllSettled/qAllSettled.js"></script>
    <script src="./scripts/directives/myLibraryDirective/myLibraryDirective.js"></script>
    <script src="./scripts/features/core/baseCtrl.js"></script>
    <script src="./scripts/features/checkAll/checkAllCtrl.js"></script>
    <script src="./scripts/features/assignments/assignmentValidateCtrl.js"></script>
    <script src="./scripts/features/multiUserCheck/multiUserCheckCtrl.js"></script>
    <script src="./scripts/features/userData/userDataCtrl.js"></script>
    <script src="./scripts/features/tocValidate/tocValidateCtrl.js"></script>
    <!--<script src="./scripts/controllers/tocCtrl.js"></script>-->
    <script src="./scripts/features/tocGenerate/generateTocCtrl.js"></script>
    <script src="./scripts/features/tocPersistence/persistedTocCtrl.js"></script>
    <script src="./scripts/features/myLibrary/myLibrary.js"></script>

    <!-- endbuild -->

</body>
</html>
