﻿<div>
    <div class="col-lg-3">
        <h4>Upload resource file:</h4>
        <div class="form-group">
            <label>MDS sheet</label>
            <input accept=".xlsx" file-input="uploadObject.mds"
                   class="form-control btn btn-primary" type="file" />
        </div>
        <div class="form-group">
            <div class="col-sm-offset-9 right-button">
                <button type="submit" ng-disabled="!uploadObject.mds" class="btn btn-primary" ng-click="uploadXmlFile()">Upload</button>
            </div>
        </div>

    </div>
    <div class="col-lg-9">
        <br />
        <tabset justified="true" ng-if="toc" ng-show="!loading">
            <tab heading="view toc">
                <div>
                    <toc-view toc-data="toc" platform-url="user.resourceUrl" />

                </div>

            </tab>
            <tab heading="json">
                <div>
                    <json-formatter json="toc" open="1" class=""></json-formatter>
                </div>
                <hr />
                <div>
                    <h4>JSON text</h4>
                    <textarea readonly ng-model="tocText" class="form-control" rows="5"></textarea>
                </div>
            </tab>
            <tab heading="Validations">
                <div ng-if="toc">
                    <h4>Check standards in MDS sheet</h4>
                    <div>
                        <div class="form-group">
                            <label>standard</label>
                            <input accept=".xml" class="form-control btn btn-primary" type="file"
                                   file-input="uploadObject.standard" />
                        </div>
                        <div class="form-group">
                            <button ng-disabled="!uploadObject.standard" ng-click="uploadWithStandards()" class="btn btn-primary">Upload files</button>
                        </div>
                        <div ng-if="standardCodeErrors" class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Title</th>
                                        <th>Error</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="error in standardCodeErrors">
                                        <td>{{error.guid}}</td>
                                        <td>{{error.displayTitle}}</td>
                                        <td>{{error.error}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr />
                    <h4>Validate resources from toc</h4>
                    <toc-resource toc-data="toc" platform="platform" enviroment="enviroment" />
                    <hr />

                </div>
            </tab>
        </tabset>

    </div>
</div>
<iframe src="views/form.html"></iframe>