﻿<div>

    <div class="btn-group">
        <label class="btn btn-success" ng-model="platform" btn-radio="'hmof'" uncheckable>hmof</label>
        <label class="btn btn-success" ng-model="platform" btn-radio="'tc'" uncheckable>tc</label>
    </div>
    <div class="btn-group">
        <!--<label class="btn btn-primary" ng-model="enviroments.int" btn-checkbox>int</label>
        <label class="btn btn-primary" ng-model="enviroments.cert_review" btn-checkbox>cert-review</label>-->
        <!--<label class="btn btn-primary" ng-model="enviroments.prod" btn-checkbox>prod</label>-->
        <label class="btn btn-success" ng-model="enviroment" btn-radio="'int'" uncheckable>int</label>
        <label class="btn btn-success" ng-model="enviroment" btn-radio="'cert-review'" uncheckable>cert-review</label>
    </div>
    <button ng-click="checkResources()" class="btn btn-default">Check resources</button>

    <div ng-show="loading">
        <i class="fa fa-4x fa-spin fa-spinner"></i>
        <h3>This can take more than 5 min</h3>
    </div>

    <div class="" ng-if="checkResourcesResult">
        <p>Start:{{checkResourcesResult.startTime | date:mediumTime}} - End:{{checkResourcesResult.endTime | date:mediumTime}}</p>

        <div ng-if="checkResourcesResult.errorResources.length === 0">
            <div class="alert alert-success">
                <p>All resources are on the server</p>
            </div>
        </div>

        <div ng-if="checkResourcesResult.errorResources.length !== 0" class="table-responsive">
            <div class="form-group col-lg-6">
                <label for="exampleInputEmail1">Filter</label>
                <input type="text" class="form-control" id="" placeholder="Enter text" ng-model="resourceFilter">
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Resource url</th>
                        <th>Resource Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="resourceItem in checkResourcesResult.errorResources | filter:resourceFilter">
                        <td>{{resourceItem.HMH_ID}}</td>
                        <td>{{resourceItem.title}}</td>
                        <td>{{resourceItem.resourceUri}}</td>
                        <td>{{resourceItem.type}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>