﻿<br />

<div class="col-lg-3">
    <login user="user"></login>
    <hr />

    <button class="btn btn-primary" ng-show="!loading || error !== null" ng-click="getData()">get data</button>
    <button class="btn btn-warning" ng-show="assignmentData || loading || error" ng-click="clear()">clear</button>
</div>

<div class="col-lg-9">
    <i ng-show="loading" class="fa fa-spinner fa-3x fa-spin"></i>
    <div ng-if="error">
        <div class="alert alert-danger">
            There was an error downloading data from services, details: {{error}}
        </div>
    </div>
    <tabset justified="true" ng-if="!loading && sectionData" >

        <tab heading="single section data">
           <div class="container-fluid">
               <h3>User token data</h3>
               <div>
                   <json-formatter json="token" open="1" class=""></json-formatter>
               </div>
               <hr />
               <h4>All sections For user</h4>
               <div ng-repeat="section in sectionData.sections" class="label label-block" ng-class="{'label-primary':!section.error, 'label-danger':section.error}" ng-click="getDataForSingleSection(section)">
                   {{section.name}}
               </div>
               <hr />


               <div ng-if="allDataForSection.sectionData">
                   <div class="panel panel-default">
                       <div class="panel-heading ">
                           <h4>Section data</h4>
                       </div>
                       <div class="panel-body">
                           <json-formatter json="allDataForSection.sectionData" open="1" class=""></json-formatter>
                       </div>
                   </div>
               </div>
               <div ng-if="allDataForSection">
                   <i ng-show="allDataForSection.loading" class="fa fa-spinner fa-3x fa-spin"></i>

                   <div ng-if="allDataForSection.resourceData">
                       <ul class="list-unstyled">
                           <li ng-repeat="class in allDataForSection.resourceData">
                               <div class="panel panel-default">
                                   <div class="panel-heading ">
                                       <h4>Resource association</h4>
                                       <span>{{class.courseTitle}}</span>
                                       <div ng-if="!allDataForSection.resourceData.error">
                                           <a class="btn btn-primary" href="{{createTocUrl(class)}}">TOC link</a>
                                       </div>
                                   </div>
                                   <div class="panel-body">
                                       <div ng-if="!allDataForSection.resourceData.error">
                                           <json-formatter json="allDataForSection.resourceData" open="1" class=""></json-formatter>
                                       </div>
                                       <div ng-if="allDataForSection.resourceData.error">
                                           <div class="alert alert-danger">
                                               <p>{{allDataForSection.resourceData.error.message}}</p>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </li>
                       </ul>
                   </div>

                   <div ng-if="allDataForSection.sectionRostersData">

                       <div class="panel panel-default">
                           <div class="panel-heading ">
                               <h4>Section Rosters</h4>
                           </div>
                           <div class="panel-body">
                               <div ng-if="!allDataForSection.sectionRostersData.error">
                                   <json-formatter json="allDataForSection.sectionRostersData" open="1" class=""></json-formatter>
                               </div>
                               <div ng-if="allDataForSection.sectionRostersData.error">
                                   <div class="alert alert-danger">
                                       <p>{{allDataForSection.sectionRostersData.error.message}}</p>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>

                   <div ng-if="allDataForSection.annotationData">
                       <div class="panel panel-default">
                           <div class="panel-heading ">
                               <h4>Section annotation</h4>
                           </div>
                           <div class="panel-body">
                               <div ng-if="!allDataForSection.annotationData.error">
                                   <json-formatter json="allDataForSection.annotationData" open="1" class=""></json-formatter>
                               </div>
                               <div ng-if="allDataForSection.annotationData.error">
                                   <div class="alert alert-danger">
                                       <p>{{allDataForSection.annotationData.error.message}}</p>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>

                   <div ng-if="allDataForSection.assignmentData">
                       <div class="panel panel-default">
                           <div class="panel-heading ">
                               <h4>Section assignments</h4>
                           </div>
                           <div class="panel-body">
                               <div ng-if="!allDataForSection.assignmentData.error">
                                   <json-formatter json="allDataForSection.assignmentData" open="1" class=""></json-formatter>
                               </div>
                               <div ng-if="allDataForSection.assignmentData.error">
                                   <div class="alert alert-danger">
                                       <p>{{allDataForSection.assignmentData.error.message}}</p>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>

               </div>

           </div>
        </tab>
        <tab heading="JSON">
            <div class="tab-pane active" id="json">
                <div class="row">
                    <h3>Section data</h3>
                    <json-formatter json="sectionData" open="0" class=""></json-formatter>
                </div>
            </div>
        </tab>
    </tabset>
</div>